{% extends 'layout' %}

{% block layout %}
 <main class="page landing-page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="bg-light block-heading" style="padding-top: 20px;padding-bottom: 10px;margin-bottom: 30px;">
                    <h3 style="color: rgb(23,58,104);padding-right: 5%;padding-left: 5%;">Os melhores custos da região, com melhores equipamentos disponíveis para seu projeto.</h3>
                    <p>Somos uma empresa especializada na prestação de serviços de infraestrutura e locação de equipamentos pesados a mais de 25 anos presente na região Centro-Oeste.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4" data-bs-hover-animate="pulse">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/locacao_ribermaq.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Locação de Equipamentos</h4>
                                <p class="card-text">Locação de equipamentos de diversos modelos e potências, com variados implementos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4" data-bs-hover-animate="pulse">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/servicos_ribermaq.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Serviços de Constução Cívil</h4>
                                <p class="card-text">Serviços especializados em construção de sistema para abastecimento e distribuição de água.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4" data-bs-hover-animate="pulse">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/venda_ribermaq.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Venda de Equipamentos Usados</h4>
                                <p class="card-text">&nbsp;Venda de equipamentos usados com garantia, transparência e a segurança pra quem está comprando.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{%endblock%}
