{% extends 'layout' %}

{% block layout %}
<div class="jumbotron shadow p-3 mb-5 bg-white rounded mt-5 ">
	<h1 class="display-4 text-info">Primeira Pagina com Laravel & Twig</h1>
	<p class="lead text-info">{{nome}}</p>
	<p class="lead text-info">Em progresso...</p>
	<hr class="my-4">
	<p class='text-info'>Construindo corpo da aplicação extendendo layouts em blocos</p>
	<a class="btn btn-primary btn-lg " href="#" role="button">Começar</a>
</div>


{%endblock%}
