{% extends 'layout' %}

{% block layout %}
<div class="jumbotron shadow p-3 mb-5 bg-white rounded mt-5 ">
	<h1 class="display-4 text-info">Primeira Pagina com Laravel & Twig</h1>
	<p class="lead text-info">{{nome}}</p>
	<p class="lead text-info">Em progresso...</p>
	<hr class="my-4">
	<p class='text-info'>Construindo corpo da aplicação extendendo layouts em blocos</p>
	<p class="lead text-info">{{Endereco}}</p>
	<p class="lead text-info">{{Bairro}}</p>
	{# {{ link_to_route('pages.clients.create', 'Comecar', {'class': 'btn btn-primary'}) }} #}
</div>


{%endblock%}
